%pages-number {
  color: $black-color;
  font-size: $font-xl;
  font-weight: $font-w-bold;
  background-color: $white-color;
  border: 1px $filter-line-color solid;
  padding: 8px 28px;
  border-radius: 18px;
}

%filter-p {
  font-size: $font-xl;
  font-weight: $font-w-bold;
  color: $active-color;
  line-height: 22px;
}

%footer-title {
  font-size: $font-xl;
  font-weight: $font-w-bold;
  line-height: 22px;
  color: $white-color;
}





