.footer {

  @media (max-width: $breakpoint-xl) {
    &__newsletter {
      &-input-group {
        height: fit-content;
      }
    }
  }

  @media (max-width: $breakpoint-lg) {
    &__newsletter {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: $breakpoint-md) {
    &__contact {
      margin: 0 auto;
    }
  }
}